/* line 3, ../sass/peon-gui.scss */
body {
  padding-top: 60px;
}

/* line 6, ../sass/peon-gui.scss */
#tasks {
  border-right: none;
}
/* line 9, ../sass/peon-gui.scss */
#tasks li a {
  border-radius: 2px;
  border: 1px solid #dddddd;
  color: #646464;
  background: #fafafa;
  background-color: whitesmoke;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: -ms-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(top, #fafafa, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFAFA', endColorstr='#FFEFEFEF', GradientType=0);
  background-repeat: repeat-x;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 16, ../sass/peon-gui.scss */
#tasks li a:hover, #tasks li.active a {
  background: #4e525d;
  background-color: #464a55;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e525d), color-stop(100%, #3c4049));
  background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
  background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
  background-image: -o-linear-gradient(top, #4e525d, #3c4049);
  background-image: -ms-linear-gradient(top, #4e525d, #3c4049);
  background-image: linear-gradient(top, #4e525d, #3c4049);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4E525D', endColorstr='#FF3C4049', GradientType=0);
  background-repeat: repeat-x;
  color: #fff;
  border: 1px solid #3c4049;
}

/* line 31, ../sass/peon-gui.scss */
#output-wrapper {
  padding-top: .5em;
  margin-top: 20px;
}

/* line 35, ../sass/peon-gui.scss */
#clear-console {
  margin-top: 20px;
}

/* line 38, ../sass/peon-gui.scss */
#output {
  font-family: Courier;
  color: #458B00;
  background: #000;
  border: 3px double #cccccc;
  padding: 1em;
  margin-top: 0;
}

/* line 46, ../sass/peon-gui.scss */
#task-select {
  margin-right: 1.5em;
}

/* line 49, ../sass/peon-gui.scss */
#notice {
  text-align: center;
}

/* line 52, ../sass/peon-gui.scss */
body.online #notice {
  display: hidden;
  visibility: hidden;
}

/* line 56, ../sass/peon-gui.scss */
body.offline #tasks, body.offline #output {
  display: none;
}

/* line 59, ../sass/peon-gui.scss */
body.offline #notice {
  display: block;
  visibility: visible;
}

/* line 63, ../sass/peon-gui.scss */
.accordion-toggle {
  position: relative;
}
/* line 65, ../sass/peon-gui.scss */
.accordion-toggle:after {
  content: '(+)';
  font-weight: bold;
}
