@import "compass/css3";

body {
  padding-top: 100px;
}
h1, h2, h3 {
  margin: 0;
}
#tasks {
  border-right: none;
  float: none;
  margin-right: 0px;
  li {
    a {
      color: #fffff;
      border: none;
      background: none;
      &:hover {
        border: none;
        background: none;
        text-decoration: none;
      }
    }
  }
}

#tabContent {
  padding:  0 10px;
}

#output-wrapper {
  padding-top: .5em;
  margin-top: 20px
}

#running {
  float: right;
  width:  80%;
  margin-top: 12px;
}

#clear-console {
  clear: both;
}

#output {
  font-family: Courier;
  color: #458B00;
  background: #000;
  border: 3px double #CCC;
  padding: 1em;
  margin-top: 0;
  overflow-y: auto;
  max-height: 400px;
}

#task-select {
  margin-right: 1.5em;
}

#notice {
  text-align: center;
}

body.online #notice {
  display: hidden;
  visibility: hidden;
}

body.offline #tasks, body.offline #output {
  display: none;
}

body.offline #notice {
  display: block;
  visibility: visible;
}

.accordion-toggle {
  position: relative;
  decoration:  none;
  &:after {
    content: '-';
    font-weight: bold;
  }
  &:hover {

  }
  &.collapsed:after {
    content: '+';
  }
}