@import "compass/css3";
@import "mixins";

body {
  padding-top: 60px;
  background-color: #eeeeee;
}

#tasks {
  border-right: none;
  li {
    a {
      border-radius: 2px;
      border: 1px solid #ddd;
      color: #646464;
      background: #fafafa;
      @include gradient-vertical(#fafafa, #efefef);
      @include transition(all .5s);
      &:hover {
        background: #4e525d;
        @include gradient-vertical(#4e525d, #3c4049);
        color: #fff;
        border: 1px solid #3c4049;
      }
    }
    &.active a {
      @extend:hover;
    }
  }
}

#tabContent {
  background-color: #F6F6F6;
  background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  border: 1px solid #d5d5d5;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
  padding:  0 10px;
}

#output-wrapper {
  padding-top: .5em;
  margin-top: 20px
}

#running {
  float: right;
  width:  80%;
  margin-top: 12px;
}

#clear-console {
  clear: both;
}

#output {
  font-family: Courier;
  color: #458B00;
  background: #000;
  border: 3px double #CCC;
  padding: 1em;
  margin-top: 0;
  overflow-y: auto;
  max-height: 400px;
}

#task-select {
  margin-right: 1.5em;
}

#notice {
  text-align: center;
}

body.online #notice {
  display: hidden;
  visibility: hidden;
}

body.offline #tasks, body.offline #output {
  display: none;
}

body.offline #notice {
  display: block;
  visibility: visible;
}

.accordion-toggle {
  position: relative;
  color: #568507;
  decoration:  none;
  &:after {
    content: '-';
    font-weight: bold;
  }
  &:hover {
    color: #568507;
  }
  &.collapsed:after {
    content: '+';
  }
}