/* line 3, ../../sass/peon-gui.scss */
body {
  padding: 2em 0;
}

/* line 7, ../../sass/peon-gui.scss */
h1, h2, h3 {
  margin: 0;
}

/* line 15, ../../sass/peon-gui.scss */
#tasks {
  margin: 0;
  padding: 0;
}
/* line 18, ../../sass/peon-gui.scss */
#tasks li {
  display: block;
}
/* line 20, ../../sass/peon-gui.scss */
#tasks li a {
  display: block;
  margin-bottom: 0.5em;
}

/* line 34, ../../sass/peon-gui.scss */
#output-wrapper {
  padding-top: .5em;
  margin-top: 20px;
}

/* line 39, ../../sass/peon-gui.scss */
#running {
  float: right;
  width: 80%;
  margin-top: 12px;
}

/* line 45, ../../sass/peon-gui.scss */
#clear-console {
  clear: both;
}

/* line 49, ../../sass/peon-gui.scss */
#output {
  font-family: Courier;
  color: #458B00;
  background: #000;
  border: 3px double #CCC;
  padding: 1em;
  margin-top: 0;
  overflow-y: auto;
  max-height: 400px;
}

/* line 64, ../../sass/peon-gui.scss */
#notice {
  text-align: center;
}

/* line 68, ../../sass/peon-gui.scss */
body.online #notice {
  display: hidden;
  visibility: hidden;
}

/* line 73, ../../sass/peon-gui.scss */
body.offline #tasks, body.offline #output {
  display: none;
}

/* line 77, ../../sass/peon-gui.scss */
body.offline #notice {
  display: block;
  visibility: visible;
}

/* line 82, ../../sass/peon-gui.scss */
.accordion-toggle {
  position: relative;
  decoration: none;
}
/* line 85, ../../sass/peon-gui.scss */
.accordion-toggle:after {
  content: '-';
  font-weight: bold;
}
/* line 92, ../../sass/peon-gui.scss */
.accordion-toggle.collapsed:after {
  content: '+';
}
