/* line 3, ../../sass/peon-gui.scss */
body {
  padding-top: 100px;
}

/* line 7, ../../sass/peon-gui.scss */
#tasks {
  border-right: none;
  float: none;
  margin-right: 0px;
}
/* line 12, ../../sass/peon-gui.scss */
#tasks li a {
  color: #fffff;
  border: none;
  background: none;
}
/* line 16, ../../sass/peon-gui.scss */
#tasks li a:hover {
  border: none;
  background: none;
  text-decoration: none;
}

/* line 25, ../../sass/peon-gui.scss */
#tabContent {
  padding: 0 10px;
}

/* line 29, ../../sass/peon-gui.scss */
#output-wrapper {
  padding-top: .5em;
  margin-top: 20px;
}

/* line 34, ../../sass/peon-gui.scss */
#running {
  float: right;
  width: 80%;
  margin-top: 12px;
}

/* line 40, ../../sass/peon-gui.scss */
#clear-console {
  clear: both;
}

/* line 44, ../../sass/peon-gui.scss */
#output {
  font-family: Courier;
  color: #458B00;
  background: #000;
  border: 3px double #CCC;
  padding: 1em;
  margin-top: 0;
  overflow-y: auto;
  max-height: 400px;
}

/* line 55, ../../sass/peon-gui.scss */
#task-select {
  margin-right: 1.5em;
}

/* line 59, ../../sass/peon-gui.scss */
#notice {
  text-align: center;
}

/* line 63, ../../sass/peon-gui.scss */
body.online #notice {
  display: hidden;
  visibility: hidden;
}

/* line 68, ../../sass/peon-gui.scss */
body.offline #tasks, body.offline #output {
  display: none;
}

/* line 72, ../../sass/peon-gui.scss */
body.offline #notice {
  display: block;
  visibility: visible;
}

/* line 77, ../../sass/peon-gui.scss */
.accordion-toggle {
  position: relative;
  decoration: none;
}
/* line 80, ../../sass/peon-gui.scss */
.accordion-toggle:after {
  content: '-';
  font-weight: bold;
}
/* line 87, ../../sass/peon-gui.scss */
.accordion-toggle.collapsed:after {
  content: '+';
}
